<tbody>
  <tr>
    <div style="width: 100%; text-align: center">
      <img src="{{ appUrl }}/assets/images/notificaciones/message.png" alt="msg" width="50"
        style="display: inline; margin-bottom: 5px" />
      <p style="
          color: #0eb7e6;
          font-family: 'Segoe UI', '-apple-system',
            'BlinkMacSystemFont', 'Roboto', 'Arial',
            sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          margin: 0;
        ">
        Reporte de seguimiento
      </p>
    </div>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span style="
          display: block;
          padding-top: 20px;
          color: #141414;
          font-family: 'Segoe UI', '-apple-system',
            'BlinkMacSystemFont', 'Roboto', 'Arial',
            sans-serif;
          font-size: 15px;
          padding-top: 30px;
        "><strong style="color: #0eb7e6; font-weight: bold">&gt;&gt;</strong>
        Apreciable usuario,</span>
    </td>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span style="
          display: block;
          color: #141414;
          padding-top: 15px;
          line-height: 25px;
          font-family: 'Segoe UI', '-apple-system',
            'BlinkMacSystemFont', 'Roboto', 'Arial',
            sans-serif;
          font-size: 15px;
        ">
        Se adjunta en Excel el Reporte de Seguimiento desde <strong
          style="color: #141414">
          {{ fechaInicio }} </strong> al  <strong
          style="color: #141414">
          {{ fechaFin }} </strong>.
      </span>
    </td>
  </tr>





</tbody>