<tbody>
  <tr>
    <div style="width: 100%; text-align: center">
      <img src="{{ appUrl }}/assets/images/notificaciones/message.png" alt="msg" width="50"
        style="display: inline; margin-bottom: 5px" />
      <p style="
          color: #0eb7e6;
          font-family: 'Segoe UI', '-apple-system',
            'BlinkMacSystemFont', 'Roboto', 'Arial',
            sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          margin: 0;
        ">
        Datos de contacto
      </p>
    </div>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span style="
          display: block;
          padding-top: 20px;
          color: #141414;
          font-family: 'Segoe UI', '-apple-system',
            'BlinkMacSystemFont', 'Roboto', 'Arial',
            sans-serif;
          font-size: 15px;
          padding-top: 30px;
        "><strong style="color: #0eb7e6; font-weight: bold">&gt;&gt;</strong>
        Apreciable <strong style="color: #141414">{{ usuario }}</strong>,</span>
    </td>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span style="
          display: block;
          color: #141414;
          padding-top: 15px;
          line-height: 25px;
          font-family: 'Segoe UI', '-apple-system',
            'BlinkMacSystemFont', 'Roboto', 'Arial',
            sans-serif;
          font-size: 15px;
        ">
        Solicitamos su apoyo para actualizar los datos de contacto del cliente <strong
          style="color: #141414">
          {{ nombreAsegurado }}</strong> dentro de la plataforma de gesti&oacute;n, ya que hasta el
        momento no hemos podido contactarlo al n&uacute;mero registrado en sistema
        {{ telefonoAsegurado }}.
      </span>
    </td>
  </tr>

  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span style="
          display: block;
          color: #141414;
          padding-top: 15px;
          line-height: 25px;
          font-family: 'Segoe UI', '-apple-system',
            'BlinkMacSystemFont', 'Roboto', 'Arial',
            sans-serif;
          font-size: 15px;
        ">
        Es importante su apoyo para poder continuar con el seguimiento del tr&aacute;mite.
      </span>
    </td>
  </tr>
</tbody>