<tbody>
  <tr>
    <div style="width: 100%; text-align: center">
      <img
        src="{{ appUrl }}/assets/images/notificaciones/message.png"
        alt="msg"
        width="50"
        style="display: inline; margin-bottom: 5px"
      />
      <p
        style="
          color: #0eb7e6;
          font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
            'Roboto', 'Arial', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          margin: 0;
        "
      >
        Estatus de carga masiva
      </p>
    </div>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span
        style="
          display: block;
          padding-top: 20px;
          color: #141414;
          font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
            'Roboto', 'Arial', sans-serif;
          font-size: 15px;
          padding-top: 30px;
        "
        ><strong style="color: #0eb7e6; font-weight: bold">&gt;&gt;</strong>
        Apreciable
        <strong style="color: #141414">{{ nombreUsuario }}</strong></span
      >
    </td>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span
        style="
          display: block;
          color: #141414;
          padding-top: 15px;
          line-height: 25px;
          font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
            'Roboto', 'Arial', sans-serif;
          font-size: 15px;
        "
      >
        Su archivo
        <strong style="color: #141414">{{ filename }}</strong>
        fue procesado. Puede ver los detalles en el siguiente link:
      </span>
    </td>
  </tr>

  <tr>
    <td style="width: 100%; border: none; outline: none; padding: 0">
      <div style="text-align: center; margin-top: 10px">
        <a
          href="{{ appUrl }}/folio/estatus-carga"
          target="_blank"
          style="
            min-width: 300px;
            box-sizing: border-box;
            -o-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            width: 100%;
            text-transform: uppercase;
            text-decoration: none;
            color: #ffffff;
            font-size: 15px;
            display: inline-block;
            background: #0eb7e6;
            border-radius: 8px;
            font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
              'Roboto', 'Arial', sans-serif;
            font-weight: normal;
            font-style: normal;
            text-align: center;
            padding: 11px 20px;
          "
          >Ver el estatus de carga</a
        >
      </div>
    </td>
  </tr>
</tbody>