<tbody>
  <tr>
    <div style="width: 100%; text-align: center">
      <img
        src="{{ appUrl }}/assets/images/notificaciones/message.png"
        alt="msg"
        width="50"
        style="display: inline; margin-bottom: 5px"
      />
      <p
        style="
          color: #0eb7e6;
          font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
            'Roboto', 'Arial', sans-serif;
          font-size: 18px;
          font-style: normal;
          font-weight: bold;
          line-height: normal;
          margin: 0;
        "
      >
        Solicitud firma ejecutivo
      </p>
    </div>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span
        style="
          display: block;
          padding-top: 20px;
          color: #141414;
          font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
            'Roboto', 'Arial', sans-serif;
          font-size: 15px;
          padding-top: 30px;
        "
        ><strong style="color: #0eb7e6; font-weight: bold">&gt;&gt;</strong>
        Apreciable usuario,</span
      >
    </td>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span
        style="
          display: block;
          color: #141414;
          padding-top: 15px;
          line-height: 25px;
          font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
            'Roboto', 'Arial', sans-serif;
          font-size: 15px;
        "
      >
        Le confirmamos que se han generado los documentos del cliente
        <strong style="color: #141414">
          {{ numeroCliente }} - {{ nombreAsegurado }} </strong
        >.
      </span>
    </td>
  </tr>
  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span
        style="
          display: block;
          color: #141414;
          padding-top: 15px;
          line-height: 25px;
          font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
            'Roboto', 'Arial', sans-serif;
          font-size: 15px;
        "
      >
        Es necesario contar con su firma aut&oacute;grafa para poder continuar
        con el tr&aacute;mite.
      </span>
    </td>
  </tr>

  <tr>
    <td style="border: none; outline: none; padding: 0">
      <span
        style="
          display: block;
          color: #141414;
          padding-top: 15px;
          line-height: 25px;
          font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
            'Roboto', 'Arial', sans-serif;
          font-size: 15px;
        "
      >
        Si existiera alg&uacute;n inconveniente nos estaremos comunicando con
        usted en un plazo m&aacute;ximo de 24 horas.
      </span>
    </td>
  </tr>

</tbody>
