<div style="width: 100%; height: auto; background-color: #fafafa">
  <div
    style="
      background-color: white;
      width: 700px;
      max-width: 700px;
      min-width: 700px;
      padding: 0;
      margin: 0 auto;
    "
  >
    <table
      style="
        width: 100%;
        min-width: 100%;
        border-collapse: collapse;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
      "
    >
      <tbody style="width: 100%; min-width: 100%; display: block">
        <tr>
          <td style="border: none; outline: none; padding: 0">
            <div
              style="
                background: #141414;
                text-align: center;
                padding: 23px 0px;
                justify-content: center;
                align-items: center;
              "
            >
              <img
                src="{{ appUrl }}/assets/images/notificaciones/logo-completo.png"
                width="125px"
                alt="logo"
              />
            </div>
          </td>
        </tr>
        <tr>
          <td style="border: none; outline: none; padding: 0">
            <div style="background: #eeeeee; padding: 40px">
              <div
                style="
                  background-color: white;
                  height: auto;
                  border-radius: 15px;
                  padding: 30px 24px;
                "
              >
                <table
                  style="border-collapse: collapse; border: none; outline: none"
                >
                  <tbody>
                    #body#
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td style="border: none; outline: none; padding: 0">
            <p
              style="
                display: block;
                text-align: center;
                margin: 0;
                color: #ffffff;
                background-color: #141414;
                font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
                  'Roboto', 'Arial', sans-serif;
                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                padding: 13px;
              "
            >
              Por favor, no responda a este correo electr&oacute;nico
            </p>
          </td>
        </tr>
        <tr>
          <td style="border: none; outline: none; padding: 0">
            <div
              style="
                background-color: #eeeeee;
                color: #525252;
                padding: 15px;
                text-align: center;
                font-family: 'Segoe UI', '-apple-system', 'BlinkMacSystemFont',
                  'Roboto', 'Arial', sans-serif;
                font-size: 10px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
              "
            >
              <p style="display: block; margin: 0px 0px 15px; padding: 0">
                Este correo electr&oacute;nico es para uso exclusivo de la
                persona o la entidad a la que expresamente se le ha enviado y
                puede contener informaci&oacute;n confidencial o reservada. Si
                va a imprimir este correo, recicle el papel, es un recurso
                renovable y reciclable.
              </p>
              <p style="display: block; margin: 0px; padding: 0">
                {{{ copyright }}}
              </p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
